@fontPrincipal: Roboto, sans-serif;
@fontSecundaria: Lobster, cursive;
@cordoTexto: #fff;
@cordeFundo: #eb345a;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: @fontPrincipal;
}

body{
    background-color: @cordeFundo;
    color: @cordoTexto;
}

h1{
    font-family: @fontSecundaria;
    font-size: 3rem;
}
